/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */
@import "tailwindcss";

@theme{
  --color-primary: #fdfdfdff;
  --color-secondary: #ff3276ff;
  --color-grey-text: rgb(84, 84, 84);
  --color-picton-blue: #00aaffff;
  --color-jonquil: #facd24ff;
  /* --font-manrope: "Manrope", sans-serif;  */
  --font-inter: 'Inter Variable', sans-serif;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #fdfdfdff; */
  /* color: rgb(84, 84, 84); */
  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* a {
  font-weight: 500;
  color: #0f0f0fff;
  text-decoration: inherit;
} */
/* a:hover {
  color: #ff3276ff;

} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
